.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(28, 28, 28);
}

.cardImage {
  flex-shrink: 0;
  position: relative;
  aspect-ratio: 1/1;
  width: 140px;
}

.cardImage img {
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

.cardBody {
  padding: 20px;
}

.cardBody p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin-top: 4px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #fff;
  opacity: 0.6;
}

.cardBody h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -4px;
}

@media (max-width: 700px) {
  .cardImage {
    width: 110px;
  }
  .cardBody h3 {
    font-size: 18px;
  }
  .cardBody p {
    font-size: 14px;
  }
}